
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    background-color: aliceblue;     /* fondo claro */
    font-family: sans-serif;
}

/*logo*/
.logo img {
    height: 70px;
}

/* Menú de navegación */
.navbar ul {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #333;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #69c545;
    /* color naranja al pasar el mouse */
}

/* Elemento activo */
.navbar .active {
    color: #69c545;
}

/* Botón estilo "GET A QUOTE" */
.btn-registro{
    border: 2px solid #69c545;
    color: #69c545;
    padding: 0.6rem 1.4rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}


.btn-registro:hover {
    background-color: #69c545;
    color: #fff;

}

.container{
    background-image: url(../img_video/imagen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    text-align: center;
}

.title-one{
    display: inline-block; /*sirve para bloquear la caja*/
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 60px;
    width: 65%;
    color: rgb(29, 28, 28);
}

.title-two{
    text-align: center;
    font-size: 25px;
    color: #224d11;
}

.contenido{
    text-align: center;
    display: flex;
    gap: 1.5rem;
    max-width: 900px;
    margin: 2rem auto;
    align-items: center;
}

.contenido img{
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.contenido p {
    text-align:justify;
    font-size: 1rem;
    line-height: 1.6;
}


body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: white;
    color:black;
}


dl dt {
    text-align:left;
    font-size: 1.2rem;
    color: rgb(32, 155, 155);
    margin-bottom: .3rem;
}

dl dd {
    text-align: left;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 1.5rem;
}
