
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    background-color: aliceblue;     /* fondo claro */
    font-family: sans-serif;
}

/*logo*/
.logo img {
    height: 70px;
}

/* Menú de navegación */
.navbar ul {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #333;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #69c545;
    /* color naranja al pasar el mouse */
}

/* Elemento activo */
.navbar .active {
    color: #69c545;
}

/* Botón estilo "GET A QUOTE" */
.btn-registro{
    border: 2px solid #69c545;
    color: #69c545;
    padding: 0.6rem 1.4rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}


.btn-registro:hover {
    background-color: #69c545;
    color: #fff;

}

.container{
    background-image: url(../img_video/imagen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    text-align: center;
}

.title-one{
    display: inline-block; /*sirve para bloquear la caja*/
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 60px;
    color: rgb(29, 28, 28);
}

.title-two{
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    color: #224d11;
}

.contenido{
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.5rem;
    margin: 2rem auto;
}

.lista{
    width: 1000px;
}

.imagen-texto{
    width: 500px;
}

.contenido img{
    max-width: 400px;
    height: auto;
    border-radius: 20px;
}

.contenido p {
    text-align:justify;
    padding-top: 15px;
    max-width: 400px;
    font-size: 1rem;
    line-height: 1.6;
}
.contenido h2{
    padding-bottom: 30px;
    border-bottom: 3px solid #27ae60;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: white;
    color:black;
}


dl dt {
    text-align:left;
    font-size: 1.2rem;
    color: #69c545;
    margin-bottom: .3rem;
}

dl dd {
    text-align: left;
    background: aliceblue;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 1.5rem;
}

.contenido3{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.contenido3 h2{
    color: #69c545 ;
}

.lista2 {
    background: #ffffff;
    border-radius: 12px;
    padding: 55px;
    max-width: 1200px;
    margin: 40px auto;
}

.lista2 h2 {
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 3px solid #27ae60;
    padding-bottom: 10px;
}

.lista2 ol li {
    
    background: aliceblue;
    padding: 20px;
    border-left: 5px solid #27ae60;
    margin-bottom: 15px;
    border-radius: 8px;
    
}
